@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif !important;
    font-weight: normal;
    
}

button{
    /* background-image: linear-gradient(to right, #6253E1, #04BEFE); */
    box-shadow: none !important;
    height: 45px !important;
    border-radius: 2px !important;
}
input, select, textarea{
    height: 45px !important;
    width: 100% !important;
    border: 1px solid #003459 !important;
    padding-left: 20px;
    border-radius: 2px !important;
    
}
input:focus, select:focus, textarea:focus{
    outline: none !important;
    border: 1px solid #003459;
    box-shadow: none !important;
     /* background-image: linear-gradient(to right, #6253E1, #04BEFE); */
}
textarea{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    box-shadow: none !important;
}
.ant-form-item{
    margin-bottom: 0px !important;
}
a{
    color : #003459;
    text-decoration: underline;
}
a:hover {
    color : blue
}
i {
    font-size: 20px;
    cursor: pointer;
}

.ant-form-item-label {
    padding: 0px !important;
}

table {
    border: 1px solid #c0c0c0 !important;
}
.ant-select-selector{
    border: 1px solid #888787 !important;
    border-radius: 2px !important;
    height: 40px !important;
}
.ant-select-selector{
    border: 1px solid #6d6d6d !important;
    box-shadow: none !important;
     height: 40px !important;
}
.ant-select-selector input {
    height: 40px !important;
    border: none !important;
}
.ant-switch{
    height: 22px !important;
    border-radius: 10px !important;
}

/* QUick Search and Filter feature */

.quickSearch {
    height: 500px;
    overflow-y: auto;
    width: 100%;
    border: 1px solid #c0c0c0;
    background-color: white;
    position: absolute;
    z-index: 100;
    top: 42px;
    box-shadow: 1px 1px 2px #c0c0c0;
}